{{#if children.length}}
  <h2>Children</h2>
  <ul>
    {{#each children}}
      <li>
        {{#link-to 'nav_items.nav_item' this}}{{title}}{{/link-to}}
        {{partial "children"}}
      </li>
    {{/each}}
  </ul>
{{/if}}
