<div class="row">
  <div>
    <div class="col-md-3">
      <div class="well sidebar-nav">
        <strong>Nav Items</strong>
        <ul class="list-group">
          {{#each controller}}
            <li class="list-group-item">
              {{#link-to 'nav_items.nav_item' this}}{{title}}{{/link-to}}
              <a {{bind-attr href=formattedURL}}>URL</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
